doctype 5
html
  head
    title= title
    if user
      link(rel='stylesheet', href='/admin/stylesheets/admin.css')
    else
      link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery.min.js", type="text/javascript")
    script(src="javascripts/jquery.validate.min.js", type="text/javascript")
  body
    block content

